<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>ASD!</title>
    <link rel="stylesheet" type="text/css" href="static/css/default_plot.css"/>
    <script src="static/js/d3.v3.min.js"></script>
    <style type="text/css">
      #amplitude {
        stroke: steelblue;
        stroke-width: 1px;
      }
      #average {
        stroke: orange;
        stroke-width: 6px;
      }
    </style>
  </head>
  <body>
    <svg id="dualPlot" width="600" height="600"></svg>
    <svg id="ratioPlot" width="600" height="600"></svg>
    <script src="static/js/asd-plot.js"></script>
  </body>
</html>