<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Excess Power {{ifo}}/{{subsystem}}/{{channel}}</title>
    <link rel="stylesheet" type="text/css" href="{{root}}/static/css/default_plot.css"/>
    <script src="{{root}}/static/js/d3.v3.min.js"></script>
    <style type="text/css">
    </style>
  </head>
  <body>
    <svg id="plot" width="1400" height="750"></svg>
    <script type="text/javascript">
      var ifo = "{{ifo}}";
      var subsystem = "{{subsystem}}";
      var channel = "{{channel}}";
      var startTime = {{startTime}};
      var root = "{{root}}";
    </script>
    <script src="{{root}}/static/js/excess-power-plot.js"></script>
  </body>
</html>